[Desktop Entry]
Type=Application
Name=lf
Terminal=true
# TERM envvar works around messed up colors in lf
Exec=tmux new-session -- lf
MimeType=inode/directory;
