/* ----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: #343F44;
  /*border-bottom: 1px solid rgba(100, 114, 125, 0.5)*/
  /*padding-top: 5px;*/
  color: #D3C6AA;
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
}

/* Each module */
#submap,
#battery,
#clock,
#cpu,
#custom-gpu-screen-recorder,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#language,
#bluetooth {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 12px;
  margin-right: 12px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  font-size: 16px;
  font-weight: bold;
  /*margin-right: 20px;
  margin-left: 12px;*/
}

#network {
  /* No styles */
}

#network.disconnected {
  color: #F85552;
}

#pulseaudio {
  /* No styles */
}

#pulseaudio.muted {
  /* No styles */
}

#tray {
  margin-right: 10px;
}

#window {
  font-weight: bold;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inherit;
}

#workspaces button {
  color: #D3C6AA;
  /*border-bottom: 2px solid transparent;*/
  /*To compensate for the top border and still have vertical centering*/
  /*padding-top: 2px;*/
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 36px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  /*border-color: #aaaaaa;*/
}

#workspaces button.focused {
  border-color: #A7C080;
  background-color: #475258;
}

#workspaces button.active {
  border-color: #A7C080;
  background-color: #475258;
}

#custom-gpu-screen-recorder.active {
  /*font-size: 22px;*/
  color: #E67E80;
}

#custom-gpu-screen-recorder.active-replay {
  /*font-size: 22px;*/
  color: #DBBC7F;
}

#custom-gpu-screen-recorder.inactive {
  /*font-size: 22px;*/
  color: #D3C6AA;
}

