:root {
    --text: 211,198,170;
    --icon-primary:       rgb(var(--text))!important;
    --icon-secondary:     rgb(var(--text))!important;
    --text-primary:       rgb(var(--text))!important;
    --text-normal:        rgb(var(--text))!important;
	--interactive-normal: rgb(var(--text))!important;
	--interactive-active: rgb(var(--text))!important;
	--header-primary:     rgb(var(--text))!important;
	--header-secondary:   rgb(var(--text))!important;
	--channels-default:   rgb(var(--text))!important;
	--channel-icon:       rgb(var(--text))!important;
}

