/* Disable all animations */
* {
  animation-duration:  0s !important;
  animation-delay:  0s !important;
  animation-iteration-count:  0 !important;
  animation-play-state: paused !important;
  transition-duration:  0s !important;
  transition-delay:  0s !important;
  transition-property: none !important;
  transition: none !important;
}
