/* credit to @d1bg */

[class*="guilds"] {
  width: 0px !important;
  padding-left: 10px !important;
}

[class*="guilds"]:hover {
  width: var(--guild-max) !important;
  padding-left: initial !important;
}

