/* small member list */
.container_c8ffbb {
    width: 0px!important;
    padding-left: var(--members-min)!important;
}
.container_c8ffbb:hover {
    width: var(--members-max)!important;
    padding-left: initial!important;
}
/* edit it */
:root {
    --members-min: 24px;
    --members-max: 240px; /* normal member list size */
}

