/* small channel list */
.sidebar_c48ade {
    flex: 0;
    padding-left: var(--channel-mini)!important;
}
.sidebar_c48ade:hover {
    flex: 0 0 auto;
    padding-left: initial!important;
}
/* edit it */
:root {
    --channel-mini: 24px;
    --channel-max: 240px; /* normal channel list size */
}

