/* credit to @catgirl.uwu and @d1bg */

section[class^="panels_"] {
  width: 100% !important;
  bottom: 0px !important;
  left: 0px!important;
}

/* rightclick menu */
.separator_c1e9c4 {
    margin: 0px;
}
/* make it darker */
/*
.menu_c1e9c4 {
    background-color: #121214;
}
*/

/* "You are viewing older messages", DONT SIT IN THE MIDDLE PLEASE */
.jumpToPresentBar__0f481 {
    left: 50%!important;
}

/* bring message input box down and move typing list to top right */
.visual-refresh [class^="chatContent_"]>form[class^="form"] {
  --custom-chat-input-margin-bottom: 5px;
  --custom-channel-textarea-text-area-height: 44px;

  margin-top: 8px;
  display: flex;
  flex-direction: column-reverse;
  column-gap: 0px;

  > div[class^="typing"] {
    position: relative;
    justify-self: end;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -22px;
    row-gap: 4px;

    svg {
      margin-top: -3px;
    }

    div>span>strong {
      margin-top: 0px !important;
    }
  }
}

