/* @import url("https://minidiscordthemes.github.io/Squared/sq.min.css");
/* See https://github.com/MiniDiscordThemes/Squared#customisation for customisation settings. */
/*
:root {
    --squared-radius: 0;
}
*/

* {
  border-radius: 0 !important;
}

foreignObject {
    mask: none;
}
rect {
    mask: none;
}

svg[class^="cursorDefault_"] > rect {
    x: 8 !important;
    y: 5 !important;
    height: 10px !important;
    width: 10px !important;
}

:root {
  --radius-cm: 0;
  --radius-sm: 0;
}

